{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <h1>The Inside Story</h1>
  <p>
    The Inside Story Bookstore and Cafe is located in Hoschton, Georgia in the Tradition's Walk Shopping Center. 
    We are a Veteran owned Mom and Pop bookstore with over 4,000 new book titles, and a full-service coffee shop. 
  </p>
  <p>
    We love books and we love coffee, and we hope that everyone has a chance to visit us soon!
    
    We have put together some lists with book recommendations for you below, but if you aren't <br>seeing what you are looking for, please feel free to use the search tool to browse thousands of additional titles. 
    We are always hoping to assist you in finding your next favorite book!

  </p>
{% endblock content %}